# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.SheepOut.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Projects\Unity\SheepOut\.idea\.idea.SheepOut\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
